/*
 _____                         ___
(  _  )                       (  _`\
| (_) | _ __  _   _  _ _      | | ) |   __    ___ (_)   __    ___    ___
|  _  |( '__)( ) ( )( '_`\    | | | ) /'__`\/',__)| | /'_ `\/' _ `\/',__)
| | | || |   | (_) || (_) )   | |_) |(  ___/\__, \| |( (_) || ( ) |\__, \
(_) (_)(_)   `\___/'| ,__/'   (____/'`\____)(____/(_)`\__  |(_) (_)(____/
                    | |                              ( )_) |
                    (_)                               \___/'
Stylesheet for Racer Rosa
Date: September 2017
Author: Arup Sen
http://arupdesigns.co.uk
arup@arupdesigns.co.uk
css to zero courtesy of Eric Meyer with adjustments
No license. Use what you like.
Happy to receive feedback :)
*/
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
}

a img, :link img, :visited img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
}

/* COLOURS
Page | Background | Hover / stripe
Home | 9c9da0 | 78797c
About | 0655a3 | 023380
Bikes | ffffff | 8e9ba4
Frames | 6c5635 | 533f24
Fitting | e37f1c | d96512
Wheels | 8e0c3a | 750728
Workshop | 4c6b88 | 37526f
Blog | f7aec3 | f498b1
Contact | 027070 | 015757

Other colours
social bg - #3877b5


*/
/* BG IMAGE PATH url('../images/my_image.gif') */
/*the main global rules*/
body {
  background-color: #FFFFFF;
  color: #404040;
  font-family: "Lato", sans-serif;
  font-size: 100.01%;
  margin: 0 auto;
  position: relative;
}

  /* different background colours for each page */
  body#index {
    background-color: #9c9da0;
  }
  body#about {
    background-color: #0655a3;
  }
  body#bikes {
    background-color: #ffffff;
  }
  body#frames {
    background-color: #6c5635;
  }
  body#fitting {
    background-color: #e37f1c;
  }
  body#wheels {
    background-color: #8e0c3a;
  }
  body#workshop {
    background-color: #4c6b88;
  }
  body#blog {
    background-color: #f7aec3;
  }
  body#contact {
    background-color: #027070;
  }

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

h1 {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  margin-top: 175px;
}

h2 {
  color: #ffffff;
}

h3 {
  font-weight: bold;
  font-size: 18px;
}

/*content area*/
div#contents {
  position: relative;
}
.blurb {
  background: #fff;
  color: #808080;
  padding: 1.5em;
}
.blurb h3 {
  color: #808080;
  padding-top: 1em;
}
.blurb p, .blurb div {
  font-size: 18px;
}
.blurb span, .bike-text span {
  color: #e37f1c;
}
span[data-toggle="collapse"] {
    cursor: pointer;
}
.sign {
    transform: rotate(270deg);
    display: inline-block;
    font-style: normal;
    padding: 0 2px;
}
/*bootstrap overrides*/

/*main navbar*/
nav#navbar {
  background-color: transparent;
  padding: 200px 0 4px 0;
  min-height: 30px;
}
  ul#ul-main-navbar li a {
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    padding: 2px 15px;
    text-transform: uppercase;
}
  #index ul#ul-main-navbar li a:hover, #index #nav-home a {
    background: #78797c;
  }
  #about ul#ul-main-navbar li a:hover, #about #nav-about a {
    background: #023380;
  }
  #bikes ul#ul-main-navbar li a:hover, #bikes #nav-bikes a {
    background: #8d9aa3;
  }
  #frames ul#ul-main-navbar li a:hover, #frames #nav-frames a {
    background: #533f24;
  }
  #fitting ul#ul-main-navbar li a:hover, #fitting #nav-fitting a {
    background: #d96512;
  }
  #wheels ul#ul-main-navbar li a:hover, #wheels #nav-wheels a {
    background: #750728;
  }
  #blog ul#ul-main-navbar li a:hover, #blog #nav-blog a {
    background: #f498b1;
  }
  #workshop ul#ul-main-navbar li a:hover, #workshop #nav-workshop a {
    background: #37526f;
  }
  #contact ul#ul-main-navbar li a:hover, #contact #nav-contact a {
    background: #015757;
  }

#index #nav-home a, #about #nav-about a, #bikes #nav-bikes a, #frames #nav-frames a, #fitting #nav-fitting a, #wheels #nav-wheels a, #blog #nav-blog a, #contact #nav-contact a, #workshop #nav-workshop a {
  margin-bottom: -300px;
  padding-top: 300px;
  position: relative;
  text-decoration: none;
  top: -298px;
}

div#clear {
  clear: left;
}

  .picture p {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    line-height: 1.2em;
}

.text p {
  margin: 0 0 1em 15px;
}

.text h3 {
  margin: 30px 0 0 15px;
}


/*footer*/
footer {
  background-color: #2b2b2b;
  color: #FFFFFF;
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: bold;
  min-height: 44px;
  text-transform: uppercase;
}
  footer p {
    padding-top: 7px;
    position: relative;
    text-align: left;
}
  footer p.enquiries {
    padding-top: 63px;
  }
  footer .col-md-6 p {
    position: relative;
    bottom: -121px;
  }
  footer p.enquiries span {
    font-size: 26px;
  }
  footer a {
    color: #FFFFFF;
    text-decoration: none;
}
  footer a:hover {
    color: #2196f3;
    text-decoration: none;
}
footer .col-md-2 {
    padding-right: 0;
}
.enquiries i.fa.fa-caret-right {
    font-size: 2.5em;
    position: relative;
    right: 7px;
    top: 12px;
}
/* social icons */
ul.social {
  background: #3877b5;
  padding: 13px 10px;
}
.social i.fa {
    font-size: 2.6em;
    margin-right: 8px;
  }
ul.social li {
    text-indent: 10px;
}
ul.social li a {
  color: #7dadd3;
}
/* home page */
#index .col-md-3 .col-md-6 {
    border: 1px solid cornflowerblue;
    min-height: 249px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold;
    background-color: #177ab8;
}
.session-date {
    background: #eb7d00;
    min-height: 498px;
    font-family: 'Oswald';
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
/* about page */

/* bikes page */
#bikes h1, #bikes h2 {
  color: #425968;
}
#bikes ul#ul-main-navbar li a {
  color: #a0acb4;
}
#bikes ul#ul-main-navbar #nav-bikes a {
  color: #596974;
}
table tr td:first-of-type {
  font-weight: bold;
}

/* frames page */

/* fitting page */

/* wheels page */

/* contact page */
.ddfmwrap {
    font-family: 'Oswald';
    text-transform: uppercase;
}
/* Breakpoints as defaults on Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ul#ul-main-navbar li a {
    font-size: 15px;
    padding: 2px 10px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200) {

}
/* small screens and mobiles */
@media (max-width: 992px) {
  ul#ul-main-navbar li a {
    padding: 2px 6px;
  }

  #index #contents p {
    font-size: 18px;
  }
  nav#navbar {
    padding: 10px 0;
    margin-left: -20px;
  }
  h1 {
    margin-top: 20px;
  }
  h1, h2 {
    position: relative;
    z-index: 2;
  }

}
@media (max-width: 600px) {
  header h2 {
    font-size: 12px;
    padding: 2em 0 0 0;
    text-align: left;
}

  #index #contents p {
    bottom: 25px;
    font-size: 12px;
} }
/*all the Safari stuff together*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /*global rules*/

  /*content area*/ }
