/*
 _____                         ___
(  _  )                       (  _`\
| (_) | _ __  _   _  _ _      | | ) |   __    ___ (_)   __    ___    ___
|  _  |( '__)( ) ( )( '_`\    | | | ) /'__`\/',__)| | /'_ `\/' _ `\/',__)
| | | || |   | (_) || (_) )   | |_) |(  ___/\__, \| |( (_) || ( ) |\__, \
(_) (_)(_)   `\___/'| ,__/'   (____/'`\____)(____/(_)`\__  |(_) (_)(____/
                    | |                              ( )_) |
                    (_)                               \___/'
Stylesheet for Racer Rosa
Date: September 2017
Author: Arup Sen
http://arupdesigns.co.uk
arup@arupdesigns.co.uk
css to zero courtesy of Eric Meyer with adjustments
No license. Use what you like.
Happy to receive feedback :)
*/
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
}

a img, :link img, :visited img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
}

/* COLOURS
Page | Background | Hover / stripe
Home | 9c9da0 | 78797c
About | 0655a3 | 023380
Bikes | ffffff | 8e9ba4
Frames | 6c5635 | 533f24
Fitting | e37f1c | d96512
Wheels | 8e0c3a | 750728
Workshop | 4c6b88 | 37526f
Blog | f7aec3 | f498b1
Contact | 027070 | 015757

Other colours
social bg - #3877b5


*/
/* BG IMAGE PATH url('../images/my_image.gif') */
/*the main global rules*/
body {
  font-family: "Lato", sans-serif;
  font-size: 100.01%;
  position: relative;
  margin: 0 auto;
  background-color: #FFFFFF;
  color: #404040;
}

  /* different background colours for each page */
  body#index {
    background-color: #9c9da0;
  }
  body#about {
    background-color: #0655a3;
  }
  body#bikes {
    background-color: #ffffff;
  }
  body#frames {
    background-color: #6c5635;
  }
  body#fitting {
    background-color: #e37f1c;
  }
  body#wheels {
    background-color: #8e0c3a;
  }
  body#workshop {
    background-color: #4c6b88;
  }
  body#blog {
    background-color: #f7aec3;
  }
  body#contact {
    background-color: #027070;
  }
div#wrap {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  font-size: 11px;
}

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

h1 {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: -20px;
  margin-top: 200px;
}

h2 {
  color: #ffffff;
  font-size: 14px;
  position: relative;
  top: 22px;
}

h3 {
  color: #5B7E96;
  font-weight: bold;
  font-size: 11px;
}

/*content area*/
div#contents {
  position: relative;
}

/*bootstrap overrides*/
.row {
  margin-left: 0;
  margin-right: 0;
}

/*main navbar*/
nav#navbar {
  background-color: transparent;
  padding: 4px 0px;
  min-height: 30px;
}
ul#ul-main-navbar {
    float: right;
    margin-right: -310px;
}
ul#ul-main-navbar li {
  /* float:left; */ }
  ul#ul-main-navbar li a {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 2px 15px;
}
  ul#ul-main-navbar li a:hover {
    color: #ffffff;
    margin-bottom: -300px;
    padding-top: 300px;
    position: relative;
    text-decoration: none;
    top: -298px;
  }
  #index ul#ul-main-navbar li a:hover, #index #nav-home a {
    background: #78797c;
  }
  #about ul#ul-main-navbar li a:hover, #about #nav-about a {
    background: #023380;
  }
  #frames ul#ul-main-navbar li a:hover, #frames #nav-frames a {
    background: #533f24;
  }
  #fitting ul#ul-main-navbar li a:hover, #fitting #nav-fitting a {
    background: #d96512;
  }
  #wheels ul#ul-main-navbar li a:hover, #wheels #nav-wheels a {
    background: #750728;
  }
  #blog ul#ul-main-navbar li a:hover, #blog #nav-blog a {
    background: #f498b1;
  }
  #workshop ul#ul-main-navbar li a:hover, #workshop #nav-workshop a {
    background: #37526f;
  }
  #contact ul#ul-main-navbar li a:hover, #contact #nav-contact a {
    background: #015757;
  }

#index #nav-home a, #about #nav-about a, #bikes #nav-bikes a, #frames #nav-frames a, #fitting #nav-fitting a, #wheels #nav-wheels a, #blog #nav-blog a, #contact #nav-contact a, #workshop #nav-workshop a {
  margin-bottom: -300px;
  padding-top: 300px;
  position: relative;
  text-decoration: none;
  top: -298px;
}

div#clear {
  clear: left;
}

.picture {
  padding: 0;
}
  .picture p {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    line-height: 1.2em;
}

.text p {
  margin: 0 0 1em 15px;
}

.text h3 {
  margin: 30px 0 0 15px;
}

.enquire {
  background-color: #f9babf;
  width: 100px;
  box-shadow: 2px 2px 5px #666666;
  border-radius: 1px;
  padding: 0px 12px;
  line-height: 1.2em;
}
  .enquire a {
    color: #404040;
    font-family: "Lobster", cursive;
    font-size: 16px;
}
  .enquire a:hover {
    text-decoration: none;
}

/*footer*/
#footer {
  background-color: #2b2b2b;
  color: #FFFFFF;
  font-family: 'Oswald';
  font-size: 12px;
  font-weight: bold;
  min-height: 44px;
  text-transform: uppercase;
}
  #footer p {
    padding-top: 7px;
    text-align: left;
}
  #footer p.enquiries {
    float: right;
    text-indent: -12px;
    top: -60px;
    position: relative;
    left: -450px;
  }
  #footer p.enquiries span {
    font-size: 26px;
  }
  #footer a {
    text-decoration: none;
    color: #FFFFFF;
}
  #footer a:hover {
    color: #333333;
}
i.fa.fa-caret-right {
    font-size: 2.5em;
    position: relative;
    top: 12px;
    right: 7px;
}
/* social icons */
ul.social {
  background: #3877b5;
  float: right;
  font-size: 14px;
  height: 140px;
  width: 140px;
}
ul.social li {
    text-indent: 10px;
}
/* home page */
#index #contents p {
  font-family: "Lobster", cursive;
  color: #D65f00;
  font-size: 24px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* about page */
#about .text p {
  margin-bottom: -1.6em;
  line-height: 1.2em;
}

#about .text p.enquire {
  margin-top: 3em;
}

#about #contents {
  background: #E6E6E6;
}

/* bikes page */
#bikes #contents {
  background: #E6E6E6;
}

.row.rides {
  margin-bottom: 70px;
}

.row.rides p, .row.epoca p, .row.lombardi-bottom p, .row.tommasini-bottom p, .row.tommasini-top p, .row.lombardi-top p, .row.lombardi-top h3 {
  position: absolute;
}

.row.lombardi-top div:first-of-type img {
  top: 115px;
  position: relative;
}

.row.lombardi-top div:nth-of-type(2) img, .row.lombardi-top div:nth-of-type(3) img {
  position: relative;
  top: 185px;
}

.lombardi-top .col-md-3.picture p {
  text-transform: uppercase;
  left: 5px;
  bottom: -105px;
}

.col-md-3.picture hr {
  border-top: 2px solid #5B7E96;
  border-bottom: 4px solid #7d6755;
  top: 28px;
  position: relative;
  height: 5px;
  background: #d85e00;
  width: auto;
  margin-bottom: -31px;
}

.lombardi-top h3 {
  font-size: 14px;
  color: #666666;
  font-weight: normal;
  right: 0px;
  top: 33px;
}

.lombardi-top .col-md-2.picture p {
  font-size: 14px;
  color: #666666;
  text-transform: uppercase;
  top: 63px;
  width: 200px;
}

#bikes p.enquire {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  text-transform: lowercase;
  color: #333;
}

.lombardi-top .col-md-2 p.enquire {
  top: 140px;
  width: 100px;
}

.racer-rosa-bottom .col-md-4.picture p.enquire {
  position: absolute;
  top: 250px;
  padding: 0 12px;
}

a[href='#top'] {
  position: absolute;
  font-family: "Lobster", cursive;
  color: #333333;
  font-size: 14px;
  left: 154px;
  top: 325px;
}

.lombardi-top aside {
  font-family: "Lobster", cursive;
  font-size: 25px;
  color: #5B7E96;
  position: absolute;
  white-space: nowrap;
  top: 32px;
  left: 2px;
}

.row.lombardi-bottom {
  margin-bottom: 40px;
}

.row.lombardi-bottom p {
  text-transform: uppercase;
}

.row.lombardi-bottom div:first-of-type p {
  color: #fff;
  left: 5px;
  top: 5px;
}

.row.lombardi-bottom .col-md-1 p {
  text-align: right;
  right: 10px;
  top: -68px;
}

.row.rides div:first-of-type p {
  top: 5px;
  left: 5px;
}

.row.rides div:nth-of-type(2) p {
  left: 5px;
  bottom: 5px;
}

.row.rides div:nth-of-type(3) p {
  top: 5px;
  right: 5px;
  text-align: right;
  color: #ffffff;
}

.row.epoca {
  margin-bottom: 60px;
}
  .row.epoca p {
    top: -50px;
}

.row.tommasini-top {
  margin-bottom: 30px;
}
  .row.tommasini-top div:nth-of-type(1) img, .row.tommasini-top div:nth-of-type(2) img, .row.tommasini-top div:nth-of-type(3) img {
    position: relative;
    top: 31px;
}

.row.tommasini-top p {
  text-align: right;
  position: absolute;
  right: 5px;
  top: -40px;
}

.row.tommasini-bottom {
  margin-bottom: 65px;
}

.row.tommasini-bottom div:nth-of-type(3) p {
  left: 5px;
}

.row.tommasini-bottom div:nth-of-type(4) img, .row.tommasini-bottom div:nth-of-type(5) img {
  position: relative;
  top: 60px;
}

.row.racer-rosa-bottom {
  padding-bottom: 65px;
}
  .row.racer-rosa-bottom p {
    text-align: right;
    padding: 5px 5px 0 0;
}

/* bikes_new page */
#bikes_new #contents {
  background: #E6E6E6;
}

.bikes-top p {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  color: #666;
  margin: 40px 0 20px 0;
}

.bikes-top p.enquire {
  margin: -2px 0 40px 0;
}

.col-md-6 p.enquire {
  position: relative;
  left: 345px;
  top: 20px;
}

.bikes {
  padding-bottom: 40px;
}

.detail {
  padding: 0;
}
  .detail p {
    font-size: 12px;
    font-family: "Oswald", sans-serif;
    color: #333;
    padding-left: 5px;
}
  .detail img {
    position: relative;
    bottom: -15px;
}

.main {
  padding-right: 0;
  padding-left: 5px;
}

/* frames page */
#frames #contents {
  background: #E6E6E6;
}

#frames .text {
  padding-top: 25px;
  padding-left: 0;
  margin-left: -16px;
}

#frames .col-md-2 img {
  position: relative;
  top: 70px;
}

img[alt="frame dropouts"] {
  margin-top: -31px;
}

img[alt="frame on bench"] {
  padding: 20px 0;
}

#frames aside p {
  font-family: "Lobster", cursive;
  color: #5B7E96;
  font-size: 25px;
  width: 270px;
  position: absolute;
  left: 75px;
  top: 550px;
}

/* fitting page */
#fitting h3 {
  color: #184a98;
  margin-bottom: 1em;
}

#fitting #contents {
  background: #E6E6E6;
}

#fitting .picture p {
  position: absolute;
  top: 355px;
  color: #c2c2c2;
  width: 100px;
  left: 10px;
}

/* wheels page */
#wheels #contents {
  background: #E6E6E6;
}

#wheels .text p {
  max-width: 390px;
}

#wheels h3 {
  color: #006E6E;
  margin-bottom: 1em;
}

/* clothing page */
#clothing aside {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

#clothing .top-row aside {
  position: absolute;
  bottom: -50px;
  left: 30px;
  z-index: 1;
}

#clothing .col-md-7 h3 {
  position: relative;
  top: 30px;
  left: 15px;
}

#clothing .col-md-7 p {
  position: relative;
  top: 40px;
  left: 15px;
  width: 440px;
  margin-bottom: -15px;
}

#clothing .col-md-7 img {
  top: 120px;
  right: -40px;
  position: relative;
}

.bottom-row div:nth-of-type(2) img {
  margin-top: 118px;
}

#clothing .bottom-row aside {
  position: absolute;
}

#clothing .bottom-row div.picture:nth-of-type(1) aside {
  top: 420px;
  left: 30px;
}

#clothing .bottom-row div.picture:nth-of-type(2) aside {
  top: 420px;
  color: #ffffff;
  left: 15px;
}

#clothing aside ul li {
  list-style-type: none;
  text-indent: -13px;
  margin-left: 20px;
}

#clothing h3 {
  color: #d75f00;
  font-size: 12px;
}

.left-stripe, .right-stripe {
  width: 16px;
  background: #95A9b9;
  min-height: 400px;
  position: absolute;
  z-index: 1;
}

.left-stripe {
  bottom: 0px;
  height: 548px;
}

.right-stripe {
  top: 0;
  right: 0;
  height: 615px;
}

/* visits page */
.social-icons {
  position: absolute;
  left: 208px;
  top: 96px;
}

.social-icons img {
  display: inline;
  padding: 5px;
  width: 40px;
}

#visits .picture p {
  position: absolute;
}

p.appointment {
  font-family: "Lobster", cursive;
  color: #ffffff;
  bottom: 15px;
  font-size: 14px;
  right: 30px;
}

p.henry-moore, p.cafe {
  font-size: 12px;
  left: 5px;
}

p.henry-moore {
  top: 290px;
}

p.henry-moore a:hover, p.cafe a:hover {
  text-decoration: none;
}

p.henry-moore a, p.cafe a {
  color: #FFFFFF;
}

p.cafe {
  top: 425px;
}

address {
  margin: 26px 0 -18px 45px;
  color: #595959;
}

address a {
  color: #595959;
}

address a:hover {
  text-decoration: none;
  color: red;
}

img[src='./images/visits-map.jpg'] {
  margin-left: 45px;
  margin-top: 27px;
}

div#SkypeButton_Call_artisancycles_1 img {
  position: absolute;
  top: -75px;
  left: 51px;
}

/* small screens and mobiles */
@media (max-width: 992px) {
  ul#ul-main-navbar li a {
    padding: 2px 6px;
}

  #index #contents p {
    font-size: 18px;
} }
@media (max-width: 600px) {
  header h2 {
    font-size: 12px;
    text-align: left;
    padding: 2em 0 0 0;
}

  #index #contents p {
    font-size: 12px;
    bottom: 25px;
} }
/*all the Safari stuff together*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /*global rules*/
  #visits div#wrap, #bikes div#wrap {
    max-width: 931px;
}

  /*navbar*/
  /* frames page */
  img[alt="frame dropouts"] {
    margin-top: -19px;
}

  /* clothes page */
  .right-stripe {
    height: 611px;
}

  .left-stripe {
    height: 544px;
}

  /*content area*/ }

/*# sourceMappingURL=style.css.map */
